In [1]:
import pandas as pd 
import numpy as np

In [2]:
raw_sessiondata = pd.read_csv("20210113-133853.csv", skiprows=6, delimiter = ';')

In [3]:
#Add a column for 'timestamps'
import time
import datetime
import ciso8601

timestamp = []
for i in range(len(raw_sessiondata.index)):
    t = raw_sessiondata['PC-TIME'].iloc[i]
    ts= ciso8601.parse_datetime(t)
    if i == 0:
        t0= time.mktime(ts.timetuple())+ts.microsecond/1000000
        timestamp.append(np.around(t0-t0,3))
    else:
        tnow = time.mktime(ts.timetuple())+ts.microsecond/1000000
        timestamp.append(np.around(tnow-t0,3))

raw_sessiondata['timestamps'] = timestamp

In [4]:
df_group_info = raw_sessiondata.groupby('+INFO')
df_group_type = raw_sessiondata.groupby('TYPE')

## Lick Response Timestamps

In [5]:
# Get lick onsets 
df_port1out = df_group_info.get_group('Port1Out')
timestamps_lickon = df_port1out.timestamps.to_numpy()

## Creating DataFrame: 'session.licks'

In [6]:
# intialise data of lists. 
data = {'timestamps':timestamps_lickon } 
# Create DataFrame 
df_licks = pd.DataFrame(data)

In [7]:
df_licks

      timestamps
0          7.912
1          8.191
2          8.541
3          8.723
4         16.754
...          ...
2131    2307.753
2132    2307.879
2133    2308.027
2134    2308.196
2135    2308.301

[2136 rows x 1 columns]

**Saving to h5**

In [8]:
df_licks.to_hdf('session.licks.h5', key = 'dflicks')